/**
 * TODO: Most of this should be ported to shellac.
 */

/* Global */

    html {
        background: var(--color-n2);
    }

    .bg-white {
        background: #fff;
    }

/* Typography */

    /* Remove the default margin on headers, when they're the first header
       on a page. */
    main > *:first-child,
    main > section > *:first-child {
        margin-top: 0;
    }

    .text-center {
        text-align: center;
    }

    .no-wrap {
        white-space: nowrap;
    }

/* Header */

    header {
        box-shadow: rgba(10, 41, 57, 0.08) 0px 4px 16px;
        position: relative;
        z-index: 1;
    }

    header > .content {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-gap: var(--spacing-xl);
        align-items: center;
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);
    }

    header > .content,
    .banner > .content {
        overflow: hidden;
    }

    .logo {
        display: grid;
        align-items: center;
        grid-template-columns: min-content auto;
        grid-gap: var(--spacing-sm);
    }

    .logo a,
    .logo a svg {
        display: block;
    }

    .logo a {
        /* Logos are supposed to be 50px high, but AlleNLP's is 22px high. This makes up for that. */
        padding: 14px 0;
    }

    .logo a[href],
    .logo a[href]:visited,
    .logo a[href]:active,
    .logo a[href]:hover {
        color: var(--palette-text-default);
        text-decoration: none;
    }

    .header-title {
        display: inline-block;
        background: var(--palette-background-dark);
        border-radius: var(--shape-border-radius);
        color: #fff;
        padding: 0 var(--spacing-sm);
        font-size: var(--typography-h5-font-size);
        font-weight: 600;
        font-family: 'Source Sans Pro', var(--typography-font-family-sans-serif);
        line-height: 1.6;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        font-family: 'Source Sans Pro', var(--typography-font-family-sans-serif);
    }

/* Navigation and Sections */

    section,
    nav {
        margin: var(--spacing-lg) 0;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav > a {
        margin-right: var(--spacing-lg);
    }

    nav > a:last-child {
        margin-right: 0;
    }


