/* Global */

    :root {
        --line-height: 1.4;
    }

    html {
        background: var(--color-n2);
    }

    /* TODO (@codeviking): Remove this once the bug is fixed in @allenai/varnish:
       https://github.com/allenai/varnish/issues/376 */
    body {
        line-height: var(--line-height);
    }

    .max-width-copy {
        max-width: 70ch;
    }

    .centered {
        margin: 0 auto;
    }

    .bg-white {
        background: #fff;
    }

    /* TODO (@codeviking): Remove this once the bug is fixed in @allenai/varnish:
       https://github.com/allenai/varnish/issues/374 */
    hr {
        margin-left: 0;
        margin-right: 0;
        border-top: none;
        border-left: none;
        border-right: none;
    }

/* Typography */

    /* AllenNLP has a custom font, which we use here. */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .brand-font {
        font-weight: 600;
        font-family: 'Source Sans Pro', var(--typography-font-family-sans-serif);
    }

    /* Remove the default margin on headers, when they're the first header
       on a page. */
    main > *:first-child,
    main > section > *:first-child {
        margin-top: 0;
    }

    .text-center {
        text-align: center;
    }

    .no-wrap {
        white-space: nowrap;
    }

/* Buttons */

    /* TODO (@codeviking): Remove this once the bug is fixed in @allenai/varnish. See:
       https://github.com/allenai/varnish/issues/375 */
    a[href].button.small,
    .button.small {
        padding: var(--spacing-xs) var(--spacing-md);
    }

    a[href].button.large,
    .button.large {
        padding: var(--spacing-sm) var(--spacing-lg);
        font-size: var(--typography-text-styles-big-font-size);
    }

    a[href].green-button {
        background: var(--color-g7);
    }

    a[href].green-button:hover {
        background: var(--color-g8);
    }

/* Header */

    header {
        box-shadow: rgba(10, 41, 57, 0.08) 0px 4px 16px;
        position: relative;
        z-index: 1;
    }

    header > .content {
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: var(--spacing-xl);
        align-items: center;
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);
    }

    header > .content,
    .banner > .content {
        overflow: hidden;
    }

    .logo a {
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: center;
        gap: var(--spacing-sm);
    }

    .logo a svg {
        display: block;
    }

    .logo a {
        /* Logos are supposed to be 50px high, but AlleNLP's is 22px high. This makes up for that. */
        padding: 14px 0;
    }

    .logo-text,
    .logo-text:hover {
        display: inline-block;
        background: var(--palette-background-dark);
        color: #fff;
    }

    .logo a:hover {
        text-decoration: none;
    }

    .header-right {
        display: flex;
        justify-content: flex-end;
    }

    @media (max-width: 520px) {
        .header-right {
            visibility: hidden;
        }
    }

/* Lists*/

    /* A "layout" list is one that's used for layout purposes, wherein the default styles
       are reset / removed. */
    .layout-list {
        list-style-type: none;
    }

    .layout-list {
        padding: 0;
        margin: 0;
    }

    .flex-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .flex-row > *:not(:last-child) {
        margin-right: var(--spacing-md);
    }

    .meta-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-md);
        font-size: var(--typography-text-styles-small-font-size);
    }

    .meta-list li strong {
        display: block;
        padding-bottom: var(--spacing-xs2);
        margin-bottom: var(--spacing-xs);
        border-bottom: 1px solid var(--palette-border-default);
    }

    .meta-list li.tags {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .tag-list {
        display: block;
        line-height: 2;
    }

    .tag-list > li {
        display: inline-block;
    }

    .tag-list > li:not(:last-child) {
        margin-right: var(--spacing-xs);
    }

    .tag-list li span {
        display: block;
        background: var(--color-b1);
        border-radius: 50px;
        padding: var(--spacing-xs2) var(--spacing-xs);
        color: var(--color-b8);
        line-height: 1;
    }

    @media (max-width: 425px) {
        .action-list {
            display: block;
        }

        .action-list li {
            width: auto;
            margin: 0;
        }

        .action-list > li:not(:last-child) {
            margin: 0 0 var(--spacing-sm);
        }

        .action-list li .button {
            display: block;
            text-align: center;
        }
    }

/* Author List */

    .author-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: var(--spacing-md);
        row-gap: var(--spacing-lg);
        font-size: var(--typography-text-styles-small-font-size);
    }

    .author-list li {
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        gap: var(--spacing-sm);
    }

    .author-meta {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .author-name-and-photo {
        display: grid;
        align-items: center;
        gap: var(--spacing-md);
        grid-template-columns: min-content 1fr;
        padding: 0 0 var(--spacing-xs);
        border-bottom: 1px solid var(--palette-border-default);
    }

    .author-initials,
    .author-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        overflow: hidden;
        border: 1px solid var(--palette-border-default);
        border-radius: 20px;
        font-size: var(--typography-text-styles-small-font-size);
        color: var(--color-b4);
        font-weight: bold;
        line-height: 1;
        background: var(--color-n2);
    }

    .author-contact-info > *:not(:last-child) {
        margin-right: var(--spacing-xs);
    }

    .author-contact-info a,
    .author-contact-info a svg {
        display: block;
    }

    @media (max-width: 600px) {
        .author-name-and-photo {
            display: block;
        }

        .author-initials,
        .author-photo {
            display: none;
        }
    }

    @media (max-width: 705px) {
        .author-list {
            display: block;
        }

        .author-list li {
            width: auto;
        }

        .author-list li:not(:last-child) {
            margin: 0 0 var(--spacing-md);
        }
    }

/* Model Details */

    .details-title {
        line-height: 1.1;
        margin: 0 0 var(--spacing-sm);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .details-columns {
        display: grid;
        grid-template: "main meta" / 1fr 250px;
        gap: var(--spacing-xl);
    }

    .big-text,
    .details-columns .main {
        font-size: var(--typography-text-styles-big-font-size);
    }

    .details-columns > * > :first-child {
        margin-top: 0;
    }

    .dataset-names a:not(:last-child):after {
        content: ", ";
    }

    @media (max-width: 800px) {
        .details-columns {
            display: block;
        }

        .details-title {
            font-size: var(--typography-h2-font-size);
            margin: 0 0 var(--spacing-lg);
        }
    }

/* Hero */

    .hero {
        display: grid;
        grid-template-columns: min-content;
        align-items: center;
        justify-content: center;
        padding: var(--spacing-xl4) var(--spacing-xl);
        background: linear-gradient(to bottom,
                                    var(--color-b6),
                                    var(--color-b9) 90%);
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
    }

    .hero-content svg {
        width: 100%;
        height: auto;
    }

    .hero h1 {
        color: #fff;
        font-size: 6vw;
        margin: 0;
        white-space: nowrap;
        line-height: 1;
    }

    .hero h2 {
        color: #fff;
        font-size: 4vw;
        margin: 0;
        white-space: nowrap;
        line-height: 1;
    }

    @media (min-width: 1300px) {
        .hero h1 {
            font-size: 5rem;
        }
        .hero h2 {
            font-size: 3rem;
        }
    }

    @media (max-width: 800px) {
        .hero {
            padding: var(--spacing-xl);
        }

        .hero h1 {
            font-size: 3rem;
        }
    }

/* Home Page */

    .intro {
        font-size: var(--typography-text-styles-jumbo-font-size);
    }

    @media (max-width: 425px) {
        .intro {
            font-size: var(--typography-text-styles-big-font-size);
        }
    }


/* Model List */

    .project-list-title {
        margin: var(--spacing-xl) 0 var(--spacing-xs);
    }

    .project-list > li > a {
        display: grid;
    }

    .project-list > li > a[href]:hover {
        text-decoration: none;
    }

    .project-list > li {
        border-top: 1px solid var(--palette-border-default);
        padding: var(--spacing-md) 0;
    }

    .project-list > li:last-child {
        border-bottom: 1px solid var(--palette-border-default);
    }

    .project-list-project-title {
        font-size: var(--typography-h4-font-size);
    }

    .project-list-project-meta {
        color: var(--color-n8);
    }

    .project-list-project-meta > *:not(:last-child) {
        margin-right: 1ch;
    }

    .project-list-project-meta,
    .project-list .tag-list {
        font-size: var(--typography-text-styles-small-font-size);
    }

    @media (max-width: 600px) {
        .project-list-project-meta,
        .project-list-project-date,
        .project-list-project-allennlp-version {
            display: block;
        }

        .project-list-project-date,
        .project-list-project-allennlp-version {
            margin: calc(var(--spacing-xs2) / 2) 0;
        }

        .small-bullet {
            display: none;
        }
    }

    .project-list-project-affiliations,
    .project-list-project-authors {
        display: flex;
        flex-wrap: wrap;
    }

    .project-list-project-affiliations > li:not(:last-child),
    .project-list-project-authors > li:not(:last-child) {
        margin-right: 0.5ch;
    }

    .project-list-project-affiliations > li:not(:last-child):after,
    .project-list-project-authors > li:not(:last-child):after {
        content: ",";
    }

    .project-list-project-authors {
        font-weight: bold;
    }

    .small-bullet {
        font-size: 0.5rem;
        line-height: 2.8;
        color: var(--color-n8);
    }

    .project-list .tag-list {
        margin: var(--spacing-xs) 0 0;
    }
