{% extends "base.html" %}

{% block title %}Submit a model — AllenNLP Model Gallery{% endblock %}

{% block hero %}
    <div class="hero">
        <div class="hero-content">
            <h2>Submit a model</h2>
        </div>
    </div>
{% endblock %}

{% block content %}

<h4>Create a GitHub issue to submit your model's metadata</h4>
<p>
    To submit a model, please <a href="https://github.com/allenai/allennlp-gallery/issues/new?assignees=&labels=new+model&template=add-a-new-model-to-the-gallery.md&title=New+model%3A+MyModel" rel="noopener,noreferrer">create an issue on GitHub</a>.
    The template will give you a place to put all of the information, such as
    <ul>
        <li>Name of the project</li>
        <li>Names, affiliations, and contact information for the authors</li>
        <li>Link to the GitHub repo with the code</li>
        <li>Link to the paper</li>
        <li>Version of AllenNLP used</li>
        <li>A short description of the model. Often the abstract of the paper is enough.</li>
        <li>Other assorted metadata, such as tags, datasets used, date submitted, etc.</li>
    </ul>
</p>

<h4>Create a Docker image and <code>run.sh</code> script to aid reproducibility</h4>
<p>
    We don't want to make it complicated to submit a model, but we also want to make sure submissions are of good
    quality, are easy to get started with, and can be reproduced. To that end, we ask you to provide a <code>Dockerfile</code> that
    creates an environment in which the model can train and evaluate, and a <code>run.sh</code> script that trains and runs the
    model. Look at <a href="https://github.com/jjasonn0717/TemporalBART" rel="noopener,noreferrer">https://github.com/jjasonn0717/TemporalBART</a>
    for an excellent example of how to do this.
</p>

<p>
    Not every model fits exactly this schema, so if you have questions or need help, submit an issue for us
    anyways and we'll sort it out!
</p>

<p class="text-center">
    <a class="button green-button nowrap large"
       href="https://github.com/allenai/allennlp-gallery/issues/new?assignees=&labels=new+model&template=add-a-new-model-to-the-gallery.md&title=New+model%3A+MyModel"
       rel="noopener,noreferrer">Submit the Model!</a>
</p>

{% endblock %}
