{% extends "base.html" %}

{% block content %}

<p><a href="{{ url_for('app.index') }}">&laquo; Back to all Projects</a></p>

<h1 class="details-title">{{ project.config.title }}</h1>

<ul class="layout-list flex-row action-list">
    <li>
        <a class="button small" href="{{ project.config.github_link }}" rel="noopener,noreferrer">
            Source Code
        </a>
    </li>
    {% if project.config.paper_link %}
        <li>
            <a class="button small" href="{{ project.config.paper_link }}" rel="noopener,noreferrer">
                View Paper
            </a>
        </li>
    {% endif %}
    {% if project.config.demo_link %}
        <li>
            <a class="button small" href="{{ project.config.demo_link }}" rel="noopener,noreferrer">
                View Demo
            </a>
        </li>
    {% endif %}
</ul>


<hr>

<div class="details-columns">
    <div class="main">
        <h5>Implemented By:</h5>
        <ul class="layout-list author-list">
            {% for author in project.config.authors: %}
                <li>
                    <div class="author-name-and-photo">
                        {% if author.photo_url is not none: %}
                            <img class="author-photo" alt="{{ author.name }}'s Profile Photo"
                                 src={{ author.photo_url }}
                                 width="40"
                                 height="40">
                        {% else %}
                            <span class="author-initials">
                                {{ author.initials() }}
                            </span>
                        {% endif %}
                        <strong>{{ author.name }}</strong>
                    </div>
                    <div class="author-meta">
                        <a href="mailto:{{author.email}}" title="{{ author.email }}">{{ author.email }}</a><br>
                        {% if author.affiliation is not none: %}
                            {{ author.affiliation }}
                        {% endif %}
                    </div>
                    <div class="flex-row author-contact-info">
                        {% if author.twitter: %}
                            <a href="https://twitter.com/{{ author.twitter}}" rel="noopener,noreferrer"se.>
                                {{ author.twitter }}
                            </a>
                        {% endif %}
                        {% if author.s2_author_page: %}
                            <a href="{{ author.s2_author_page }}" rel="noopener"> 
                                <svg width="25" viewBox="0 0 140 140">
                                    <title>Semantic Scholar</title>
                                    <rect width="140" height="140" rx="15%" fill="#06152c"></rect>
                                    <g transform="translate(10, 25), scale(0.9)">
                                        <path fill="#f3d25f" d="M138.7,30.4c-4.9,3.1-8.3,4.8-12.4,7.2c-24,14.5-47.1,30.6-65,51.9L52.7,100L26.3,58 c5.9,4.7,20.6,17.9,26.6,20.8l19.4-14.6C85.8,54.7,124,34,138.7,30.4z"></path>
                                        <path fill="#fff" d="M46.5,68.5c2,1.6,4,3.1,5.6,4.3c4.4-21.2,0.7-44-10.9-63.8c19.5-0.3,38.9-0.5,58.4-0.8 c4.4,9.7,6.9,20,7.5,30.6c1.7-0.9,3.4-1.7,5.1-2.5c-0.6-10.8-3.7-22.6-9.6-36.2C76,0,49.5,0,22.9,0C40.2,20.5,48.1,45.3,46.5,68.5 z"></path>
                                        <path fill="#fff" d="M42.9,65.7c0.5,0.5,1.1,0.9,1.6,1.3c-0.8-19.7-8.2-39.8-22.1-57.1c-4.1,0-8.3,0-12.4,0 C27.9,26.4,38.8,46.3,42.9,65.7z"></path>
                                        <path fill="#fff" d="M38.6,61.9c0.6,0.5,1.2,1,1.9,1.6c-5.2-14.6-14.4-29-27.4-41.6c-4.4,0-8.7,0-13.1,0 C16.7,33.9,29.6,47.8,38.6,61.9z"></path>
                                    </g>
                                </svg>
                            </a>
                        {% endif %}
                        {% if author.google_scholar_author_page: %}
                            <a href="{{ author.google_scholar_author_page }}" rel="noopener,noreferrer">
                                <svg width="25" viewBox="0 0 512 512">
                                    <title>Google Scholar</title>
                                    <rect width="512" height="512" rx="15%" fill="#4285f4"></rect>
                                    <path fill="#fff" d="M213 111l-107 94h69c5 45 41 64 78 67-7 18-4 27 7 39-43 1-103 26-103 67 4 45 63 54 92 54 38 1 81-19 90-54 4-35-10-54-31-71-23-18-28-28-21-40 15-17 35-27 39-51 2-17-2-28-6-43l45-38-1 16c-3 2-5 6-5 9v103c2 13 22 11 23 0V160c0-3-2-7-5-8v-25l16-16zm58 141c-61 10-87-87-38-99 56-11 83 86 38 99zm-5 73c60 13 61 63 10 78-44 9-82-4-81-30 0-25 35-48 71-48z"></path>
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>

        <hr>

        <h5>Description:</h5>

        {{ project.description | md_to_html | safe }}
    </div>

    <div class="meta">
        <ul class="layout-list meta-list">
            <li class="tags">
                <strong>Tags:</strong>
                <ul class="layout-list flex-row tag-list">
                    {% for tag in project.config.tags %}
                        <li><span>{{ tag }}</span></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <strong>AllenNLP Version:</strong>
                v{{ project.config.allennlp_version }}
            </li>
            <li>
                <strong>Languages:</strong>
                {% if project.config.supported_languages | length == 0 %}
                    Unknown
                {% else %}
                    {{ project.config.supported_languages | join(", ") }}
                {% endif %}
            </li>
            <li>
                <strong>Datasets:</strong>
                <div class="dataset-names">
                    {% for dataset in project.config.datasets: %}
                        <a href="{{ dataset.link }}" 
                           rel="nopener,noreferrer">{{ dataset.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li>
                <strong>Submitted On</strong>
                {{ project.config.submission_date | formatted_date }}
            </li>
        </ul>
    </div>

</div>
{% endblock %}
